* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  box-sizing: border-box;
}

form {
  width: 450px;
  height: 550px;
  border: 1px solid grey;
  margin-left: 420px;
  margin-top: 25px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 26, 117);
  font-size: 22px;
  line-height: 2.2;
}

input[type="text"],
[type="password"] {
  padding: 15px;
  border: 2px solid;
  border-radius: 12px;
}

.usr-psw {
  line-height: 2.2;
}

.basic {
  display: grid;
  width: 90%;
  margin-left: 20px;
  border: none;
  border-radius: 12px;
  line-height: 1.6;
}

.check {
  line-height: 2.8;
  margin-left: 20px;
}

.me {
  margin-left: 5px;
}

.icon {
  margin-left: 138px;
}

.btn1 {
  background-color: rgb(255, 26, 117);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  width: 90%;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub {
  margin-top: 22px;
  margin-left: 75px;
  font-size: 15px;
}

.sign {
  margin-left: 4px;
}

.line {
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
  text-decoration: dashed;
}

.logo {
  font-size: 45px;
  margin-top: 19px;
  text-align: center;
}

.foot {
  margin-top: 16px;
  margin-left: 550px;
}
